/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');
@import url(components/banner.css);
@import url(components/button.css);
@import url(components/card.css);
@import url(components/footer.css);

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
  background-color: #fbfdff;
}

h1, h2, h3, h4 {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}
/* Custom design below! */

.text-align {
  text-align: center;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

.container p {
  font-size: 18px;
  color: orange;
  text-shadow: 1px 1px 1px black;
  background-image: linear-gradient(to right, transparent, transparent);
}
