.banner {
  width: 100%;
  height: 600px;
  display: flex;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
  color: white;
}

.banner .container {
  padding: 0 50px;
}

.banner .container p {
  font-size: larger;
}

.banner .container h1 {
  font-size: 40px;

}
