.button {
  background-color: darkred;
  color: yellow;
  padding: 50px 30px;
  border-radius: 50%;
  display: inline-block;

}

.button:hover {
  color: blue;
  font-weight: bold;
  background-color: gold;
}
