
.cards {

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.card:last-child {
  justify-self: flex-end;
}

.card {
  width: 250px;
  margin: 10px 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  border-radius: 3%;
}

.card-info {
  padding: 0px 20px 10px 20px;
}

.card-info h2 {
  margin-top: 0;
}

.card-info p {
  margin-top: 0;
}

.card-img {
  width: 100%;
  margin-bottom: 0;
  border-radius: 3%;
}
